## EDA: iris dataset - part 1: Basic exploration

### Preparations

Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

1) Load iris dataset as iris:

In [2]:
# Load the iris dataset
iris = pd.read_csv(r"/Users/hassanhaydar/DSA103/EDA-lectures-7-8/src/lecture_7/DSA_iris_dataset.csv")
iris.head()

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target,species
0,5.1,3.5,1.4,0.2,NaN,setosa
1,4.9,3.0,1.4,0.2,NaN,setosa
2,4.7,3.2,1.3,0.2,NaN,setosa
3,4.6,3.1,1.5,0.2,NaN,setosa
4,5.0,3.6,1.4,0.2,NaN,setosa

2) Overview: head, size, shape, info...

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal l. / cm      150 non-null    float64
 3   petal w. / cm      150 non-null    float64
 4   target             0 non-null      float64
 5   species            150 non-null    object
dtypes: float64(5), object(1)
memory usage: 7.2+ KB

3) Quick statistics and summary (value_counts, max, min, describe, nlargest, nsmallest, nunique):

In [4]:
iris.describe()

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target
count,150.000000,150.000000,150.000000,150.000000,0.0
mean,5.843333,3.309333,3.758000,1.199333,NaN
std,0.828066,3.208637,1.765298,0.762238,NaN
min,4.300000,2.000000,1.000000,0.100000,NaN
25%,5.100000,2.800000,1.600000,0.300000,NaN
50%,5.800000,3.000000,4.350000,1.300000,NaN
75%,6.400000,3.300000,5.100000,1.800000,NaN
max,7.900000,42.000000,6.900000,2.500000,NaN

In [5]:
iris.nunique(axis=0)

sepal length (cm)    35
sepal width (cm)     23
petal l. / cm        43
petal w. / cm        22
target                0
species               3
dtype: int64

4) Missing data (isnull) and duplicates (duplicated)

In [6]:
iris.duplicated().any() #this tells me if any duplicates are present in the data frame

np.True_

In [7]:
iris[iris.duplicated()==True] #this tells me that the iris data set has in row 142 a duplicate

,sepal length (cm),sepal width (cm),petal l. / cm,petal w. / cm,target,species
142,5.8,2.7,5.1,1.9,NaN,virginica

5) Drop unnecessary columns and rename columns

In [8]:
iris.drop(columns=["target"], axis=1, inplace=True) #here we drop the target column since it has just NaN

In [9]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal l. / cm  petal w. / cm species
0                5.1               3.5            1.4            0.2  setosa
1                4.9               3.0            1.4            0.2  setosa
2                4.7               3.2            1.3            0.2  setosa
3                4.6               3.1            1.5            0.2  setosa
4                5.0               3.6            1.4            0.2  setosa

In [10]:
iris.rename(columns={"petal l. / cm":"petal length (cm)", "petal w. / cm":"petal width (cm)"}, inplace=True)

In [11]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [12]:
iris.iloc[33,1] = 4.2 #Go to row index 33 and column index 1, and assign the value 4.2
#iloc selects data by integer location only (not by labels).
print(iris.iloc[33,1])

4.2

In [13]:
iris["sepal width (cm)"].nlargest(3)

15    4.4
33    4.2
32    4.1
Name: sepal width (cm), dtype: float64

In [14]:
iris.iloc[33]

sepal length (cm)       5.5
sepal width (cm)        4.2
petal length (cm)       1.4
petal width (cm)        0.2
species              setosa
Name: 33, dtype: object

6) Export cleaned dataset as "DSA_iris_cleaned.csv" into the same folder

In [15]:
iris.to_csv("DSA_iris_cleaned.csv", index=False)